<div class="x-page1">
    <div class="tac pad-v20">
        <img src="i/one/text1.png" alt="">
    </div>
    <slick class="x-home-slider x-wrap pad-t20" infinite="true" ng-click="pauseVideo($event)">
        <!--<div class="wp-btw">-->
            <!--<div class="fl-flex1 dibT w50p">-->
                <!--<img src="i/one/img1.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="fl-flex1 dibT w50p">-->
                <!--<img class="mar-b20" src="i/one/text1.png" alt="">-->
                <!--<img class="mar-b20" src="i/one/text2.png" alt="">-->
                <!--<a href="#/two" class="x-btn-o x-float-shadow mar-r15"><img src="i/one/btn1.png" alt=""></a>-->
                <!--<a href="https://www.google.com" target="_blank" class="x-btn-o x-float-shadow"><img src="i/one/btn2.png" alt=""></a>-->
            <!--</div>-->
        <!--</div>-->

        <div class="x-video">
            <!--<button class="x-btn-o x-video-play" play-video></button>-->
            <iframe src="https://www.youtube.com/embed/FV-4EqR2E-4?rel=0&enablejsapi=1&version=3" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="x-video">
            <iframe src="https://www.youtube.com/embed/5NBtayA21zo?rel=0&enablejsapi=1&version=3" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="x-video">
            <iframe src="https://www.youtube.com/embed/puCWC2RkNXo?rel=0&enablejsapi=1&version=3" frameborder="0" allowfullscreen></iframe>
        </div>
    </slick>

    <div class="tac mar-v20">
        <img src="i/one/info1.png" alt="">
    </div>
</div>

