<div class="x-wrap">
    <img class="mar-b20" src="i/three-tabs/text2.png" alt="">

    <div class="x-tabs">
        <div class="x-tabs-btns">
            <button ng-click="setTab(3)" ng-class="{active: isTab(3)}">דרום</button>
            <button ng-click="setTab(2)" ng-class="{active: isTab(2)}">מרכז</button>
            <button ng-click="setTab(1)" ng-class="{active: isTab(1)}">צפון</button>
        </div>



        <div class="x-tabs-content" ng-show="isTab(3)">
            <table>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.24322&lon=34.81239" target="_blank"><img src="i/smile.png" alt=""></a></td><td>באר שבע</td><td>חיל הנדסה 1 BIG</td><td>סיאסטה אספרסו בר</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.79186&lon=34.63891" target="_blank"><img src="i/smile.png" alt=""></a></td><td>אשדוד</td><td>הגדוד העברי 5 גן העיר</td><td>בני הדייג אשדוד</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.79187&lon=34.63891" target="_blank"><img src="i/smile.png" alt=""></a></td><td>אשדוד</td><td>הגדוד העברי 1 גן העיר</td><td>קפה ליון גן העיר</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.77545&lon=34.68104" target="_blank"><img src="i/smile.png" alt=""></a></td><td>אמונים</td><td>הזית 90</td><td>רטטוי</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.76894&lon=35.22458" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ירושלים</td><td>דוד רמז 4</td><td>בית הכוון</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.7718&lon=35.22245" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ירושלים</td><td>קרן היסוד 38</td><td>מולינו קרן יסוד</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.78364&lon=35.21591" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ירושלים</td><td>סמטת משיח בורכיף 4</td><td>המוציא</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.7819&lon=35.21885" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ירושלים</td><td>לונץ/' 4</td><td>קפה רימון ממילא</td></tr>
            </table>
        </div>
        <div class="x-tabs-content" ng-show="isTab(2)">
            <table>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.06738&lon=34.77235" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>מזא"ה 3</td><td>לה רפובליקה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.06333&lon=34.76773" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>שבזי 55</td><td>לולו נווה צדק</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.06901&lon=34.76586" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>הכובשים 48</td><td>הכובשים</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.09744&lon=34.77411" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>נמל תל אביב</td><td>רוקח נמל ת"א</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.10751&lon=34.79819" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>ברודצקי 17</td><td>ביטא – בית קפה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.09495&lon=34.7767" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>דיזינגוף 265</td><td>טוטמה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.09003&lon=34.78057" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>בזל 37</td><td>אשתור קפה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.11057&lon=34.842" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>הברזל 34</td><td>פסטה מיה ברזל</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.10695&lon=34.836" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>הברזל 4</td><td>בוצ'רי</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.06336&lon=34.77117" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>רוטשילד 15</td><td>וונג</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.05684&lon=34.75937" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>דוד רזיאל 3</td><td>איציק הגדול</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.06561&lon=34.78298" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>דרך מנחם בגין 37</td><td>מפגש הסטייק</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.05849&lon=34.81881" target="_blank"><img src="i/smile.png" alt=""></a></td><td>רמת גן</td><td>אלוף דוד 40</td><td>קפה שקד</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.08768&lon=34.80279" target="_blank"><img src="i/smile.png" alt=""></a></td><td>רמת גן</td><td>אהליאב 8</td><td>הארנב הלבן</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.95843&lon=34.80236" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ראשון לציון</td><td>הרצל 151</td><td>מסעדת הגראז'</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.0596&lon=34.81528" target="_blank"><img src="i/smile.png" alt=""></a></td><td>גבעתיים</td><td>תפוצות ישראל 5</td><td>ג'פניקה גבעתיים</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.24265&lon=35.05203" target="_blank"><img src="i/smile.png" alt=""></a></td><td>סלעית</td><td>סלעית</td><td>סלבדור</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.19783&lon=34.94954" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ניר אליהו</td><td>ניר אליהו</td><td>קמיליה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.1982&lon=34.88263" target="_blank"><img src="i/smile.png" alt=""></a></td><td>רעננה</td><td>זרחין 13</td><td>שולה רעננה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.18002&lon=34.87771" target="_blank"><img src="i/smile.png" alt=""></a></td><td>רעננה</td><td>אחוזה 95</td><td>ג'פניקה רעננה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.28772&lon=34.8981" target="_blank"><img src="i/smile.png" alt=""></a></td><td>קדימה</td><td>תחנת דלק פז</td><td>קפה בונו-קדימה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.16385&lon=34.79699" target="_blank"><img src="i/smile.png" alt=""></a></td><td>הרצליה</td><td>השונית 2</td><td>קפה גרג ארנה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.15899&lon=34.80885" target="_blank"><img src="i/smile.png" alt=""></a></td><td>הרצליה</td><td>אריה שנקר 9</td><td>טפאו הרצליה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.27846&lon=34.86069" target="_blank"><img src="i/smile.png" alt=""></a></td><td>נתניה</td><td>שד' גיבורי ישראל 7</td><td>ג'קו מאכלי ים נתניה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.33092&lon=34.85124" target="_blank"><img src="i/smile.png" alt=""></a></td><td>נתניה</td><td>ככה העצמאות 13</td><td>אלנזו</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.08794&lon=34.88743" target="_blank"><img src="i/smile.png" alt=""></a></td><td>פתח תקווה</td><td>שפיגל זוסיה 1</td><td>קופי דון</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.08916&lon=34.85953" target="_blank"><img src="i/smile.png" alt=""></a></td><td>פתח תקווה</td><td>שחם 17</td><td>ציפורה יכין סנטר</td></tr>
            </table>
        </div>
        <div class="x-tabs-content" ng-show="isTab(1)">
            <table>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=33.02065&lon=35.10094" target="_blank"><img src="i/smile.png" alt=""></a></td><td>נהריה</td><td>יצחק שדה 17</td><td>בנחלה קפה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.82799&lon=34.9702" target="_blank"><img src="i/smile.png" alt=""></a></td><td>חיפה</td><td>סטלה מאריס</td><td>שווא טינה על החוף</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.80673&lon=35.05497" target="_blank"><img src="i/smile.png" alt=""></a></td><td>חיפה</td><td>החרושת 6</td><td>סטרייק בר</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.82799&lon=34.9702" target="_blank"><img src="i/smile.png" alt=""></a></td><td>חיפה</td><td>סטלה מאריס 100</td><td>שווא טינה סטלה מאריס</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.92988&lon=35.07032" target="_blank"><img src="i/smile.png" alt=""></a></td><td>עכו</td><td>ההגנה 30</td><td>לחם ודגים מסעדה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.91951&lon=35.07" target="_blank"><img src="i/smile.png" alt=""></a></td><td>עכו</td><td>תלמי נמל הדייגים</td><td>אלמרסא</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.36489&lon=34.86975" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ביתן אהרן</td><td>ביתן</td><td>מיט סטיישן</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.32753&lon=34.88972" target="_blank"><img src="i/smile.png" alt=""></a></td><td>בית יצחק</td><td>רחבת הבנים</td><td>אנאמרו בע"מ</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.46557&lon=34.99332" target="_blank"><img src="i/smile.png" alt=""></a></td><td>שער חפר</td><td>האלון 15</td><td>אורייתא</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.48713&lon=34.90396" target="_blank"><img src="i/smile.png" alt=""></a></td><td>פרדס חנה</td><td>תרשיש 1 פארק</td><td>שולה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.38331&lon=34.86778" target="_blank"><img src="i/smile.png" alt=""></a></td><td>כרכור</td><td>תעשייה צפוני</td><td>ג'פניקה אם הדרך</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.78334&lon=35.64028" target="_blank"><img src="i/smile.png" alt=""></a></td><td>קיסריה</td><td>קניון M הדרך</td><td>מרינדו</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.9950214&lon=35.5194806" target="_blank"><img src="i/smile.png" alt=""></a></td><td>בית ינאי</td><td>עין גב</td><td>חוות בת יער 7891 בע"מ</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.8259&lon=35.07579" target="_blank"><img src="i/smile.png" alt=""></a></td><td>עין גב</td><td>עמוקה</td><td>פול קפה</td></tr>
            </table>
        </div>
    </div>

    <div class="tac mar-v20">
        <img src="i/one/info1.png" alt="">
    </div>
</div>





















































