<div class="x-page2">
    <div class="x-home-slider x-wrap pad-t20">
        <div class="wp-btw fsz0">
            <div class="fl-flex1 dibT w50p">
                <img src="i/three/img1.jpg" alt="">
            </div>
            <div class="fl-flex1 dibT w50p tar">
                <img class="mar-b20" src="i/three/text1.png" alt="">
                <a ng-click="ga('desktop', 'where_to_get_restaurants');" href="#/three/restaurants" class="x-btn-o x-float-shadow mar-r15"><img src="i/three/btn1.png" alt=""></a>
                <a ng-click="ga('desktop', 'where_to_bars');" href="#/three/bars" class="x-btn-o x-float-shadow"><img src="i/three/btn2.png" alt=""></a>
            </div>
        </div>
    </div>

    <div class="tac mar-v20">
        <img src="i/one/info1.png" alt="">
    </div>
</div>

