<div class="x-wrap">
    <img class="mar-b20" src="i/three-tabs/text1.png" alt="">

    <div class="x-tabs">
        <div class="x-tabs-btns">
            <button ng-click="setTab(3)" ng-class="{active: isTab(3)}">דרום</button>
            <button ng-click="setTab(2)" ng-class="{active: isTab(2)}">מרכז</button>
            <button ng-click="setTab(1)" ng-class="{active: isTab(1)}">צפון</button>
        </div>





        <div class="x-tabs-content" ng-show="isTab(3)">
            <table>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.67617&lon=34.55475" target="_blank"><img src="i/smile.png" alt=""></a></td><td>אשקלון</td><td>מרכז מסחרי</td><td>דה ג'ק</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.68095&lon=34.55796" target="_blank"><img src="i/smile.png" alt=""></a></td><td>אשקלון</td><td>חוף דלילה</td><td>צוללי הדרום בע"מ.</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.68309&lon=34.56032" target="_blank"><img src="i/smile.png" alt=""></a></td><td>אשקלון</td><td>מרינה אשקלון</td><td>ניסו הדייג</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.25938&lon=34.80589" target="_blank"><img src="i/smile.png" alt=""></a></td><td>באר שבע</td><td>מתחם מרינה</td><td>חגור קוקה בע"מ</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.26803&lon=34.80051" target="_blank"><img src="i/smile.png" alt=""></a></td><td>באר שבע</td><td>בת גלים 1</td><td>ביג קהונה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.26132&lon=34.79831" target="_blank"><img src="i/smile.png" alt=""></a></td><td>באר שבע</td><td>ארלוזורוב</td><td>מנגה יזמות בע"מ</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.24778&lon=34.79867" target="_blank"><img src="i/smile.png" alt=""></a></td><td>באר שבע</td><td>חיים 50</td><td>האותנטית</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.26629&lon=34.79972" target="_blank"><img src="i/smile.png" alt=""></a></td><td>באר שבע</td><td>רינגלבלום 19</td><td>ג'ני</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.62797&lon=34.79425" target="_blank"><img src="i/smile.png" alt=""></a></td><td>גת</td><td>שד' רגר יצחק 87</td><td>איצו בר</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.2557035&lon=35.1580819" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ערד</td><td>מרכז מסחרי</td><td>הזום בע"מ מוזה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.77895&lon=35.22228" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ירושלים</td><td>רסקו</td><td>מונאקו</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.78221&lon=35.22174" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ירושלים</td><td>רינגלבלום 2</td><td>פיקדילי 2 - מחסן</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.78125&lon=35.21895" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ירושלים</td><td>קיבוץ גת</td><td>פישנזון</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.77942&lon=35.22405" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ירושלים</td><td>מתחם תחנת</td><td>קקטוס 9</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.78429&lon=35.21295" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ירושלים</td><td>הדלק אלון, כביש 1</td><td>פיש & ציפס</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.7854&lon=35.21147" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ירושלים</td><td>בן סירא 18</td><td>השכנה</td></tr>
            </table>
        </div>
        <div class="x-tabs-content" ng-show="isTab(2)">
            <table>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.07819&lon=34.77467" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>ריינס 2</td><td>ביר גארדן</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.06347&lon=34.772" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>רוטשילד 21</td><td>עשרים ושתיים ברוטשילד</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.05328&lon=34.75615" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>נחמן 2</td><td>אקבר</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.06501&lon=34.77501" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>אחדהעם 60</td><td>אוקטובר האדום</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.0801&lon=34.77426" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>פרישמן 41</td><td>רוטינה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.07638&lon=34.77694" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>קינג ג'ורג' 83</td><td>דנים</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.05404&lon=34.75618" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>עלי ציון 6</td><td>אלבי</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.08599&lon=34.77489" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>דיזינגוף 190</td><td>ג'ספר ג'ונס</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.04078&lon=34.75245" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>רבי נחמן 6</td><td>פארוק בשוק</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.06259&lon=34.77427" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>יהודה הלוי 51</td><td>הוסטל 51</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.07054&lon=34.77005" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>נג'ארה 15</td><td>סלון ברלין</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.07957&lon=34.78116" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>כיכר רבין</td><td>פיש אנד ציפס</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.0649&lon=34.77007" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>מונטיפיורי 7</td><td>שיק בשוק</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.08617&lon=34.77494" target="_blank"><img src="i/smile.png" alt=""></a></td><td>תל אביב יפו</td><td>דיזינגוף 196</td><td>פסאדה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.97476&lon=34.81099" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ראשון לציון</td><td>שמוטקין 11</td><td>טראבין</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.96426&lon=34.79764" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ראשון לציון</td><td>רוטשילד 77</td><td>ברנרד</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.33134&lon=34.85137" target="_blank"><img src="i/smile.png" alt=""></a></td><td>נתניה</td><td>דוד המלך 4</td><td>רידם אנד פרינס</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.17719&lon=34.92761" target="_blank"><img src="i/smile.png" alt=""></a></td><td>כפר סבא</td><td>התע"ש 24</td><td>פאב 22</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.17331&lon=34.90509" target="_blank"><img src="i/smile.png" alt=""></a></td><td>הרצליה</td><td>בן גוריון 22</td><td>רומור</td></tr>
            </table>
        </div>
        <div class="x-tabs-content" ng-show="isTab(1)">
            <table>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.47291&lon=34.99068" target="_blank"><img src="i/smile.png" alt=""></a></td><td>פרדס חנה כרכור</td><td>המייסדים 47</td><td>הכהן</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.81841&lon=34.99977" target="_blank"><img src="i/smile.png" alt=""></a></td><td>חיפה</td><td>קהילת סלוניקי 5</td><td>הפיינט</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.81969&lon=34.99048" target="_blank"><img src="i/smile.png" alt=""></a></td><td>חיפה</td><td>שד' בן גוריון 39</td><td>שטרודל קפה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.81931&lon=34.99024" target="_blank"><img src="i/smile.png" alt=""></a></td><td>חיפה</td><td>שד' בן גוריון 43</td><td>גארדן</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.80473&lon=34.98757" target="_blank"><img src="i/smile.png" alt=""></a></td><td>חיפה</td><td>שד' הנשיא 124</td><td>הסליק בר</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=33.00681&lon=35.09362" target="_blank"><img src="i/smile.png" alt=""></a></td><td>נהריה</td><td>הגעתון 33</td><td>קווינס</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.9823&lon=35.08325" target="_blank"><img src="i/smile.png" alt=""></a></td><td>שבי ציון</td><td>שבי ציון</td><td>פאב הפרה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.70788&lon=35.17304" target="_blank"><img src="i/smile.png" alt=""></a></td><td>רמת ישי</td><td>חורש האלונים</td><td>בית המרזח</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=32.29242&lon=34.9363" target="_blank"><img src="i/smile.png" alt=""></a></td><td>כפר יונה</td><td>שד' רבין 1</td><td>חימצה</td></tr>
                <tr><td><a href="https://www.waze.com/he/livemap?zoom=17&lat=31.55716&lon=34.64674" target="_blank"><img src="i/smile.png" alt=""></a></td><td>ברור חיל</td><td>ברור חיל</td><td>אסוולדו פאב</td></tr>
            </table>
        </div>
    </div>

    <div class="tac mar-v20">
        <img src="i/one/info1.png" alt="">
    </div>
</div>



















