<div class="x-page2">
    <div class="x-home-slider x-wrap pad-t20">
        <div class="wp-btw fsz0">
            <div class="fl-flex1 dibT w50p">
                <img src="i/one/img1.jpg" alt="">
            </div>
            <div class="fl-flex1 dibT w50p tar">
                <img class="mar-b20" src="i/two/text1.jpg" alt="">
                <a href="http://www.slash.co.il/projects/coca_cola/stella_special_edition/coupon.html" target="_blank" class="x-btn-o x-float-shadow"><img src="i/two/btn1.png" alt=""></a>
            </div>
        </div>
    </div>

    <div class="tac mar-v20">
        <img src="i/one/info1.png" alt="">
    </div>
</div>

