$c1: #545454;
$c2: #dc061a;
//--REWRITE--///////////////////////////////////////////////////////////
.x{
  .slick{
    &-next, &-prev{
      border: none;
      position: absolute;
      right: -44px;
      top: 50%;
      width: 22px;
      height: 39px;
      background: url(../i/angle.png) 0 0 no-repeat;
      font-size: 0;
    }
    &-prev{
      left: -44px;
      right: initial;
      transform: rotate(180deg);
    }
    &-slide{
      font-size: 0;
      img {
        display: inline-block;
      }
    }
  }
}
//--LOADER--///////////////////////////////////////////////////////////
body.loading{
  overflow: hidden;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
  }
}
.loader-wrap{
  position: fixed;
  z-index: 101;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
}
.loader {
  position: fixed;
  z-index: 101;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one .5s linear infinite;
  border-bottom: 3px solid $c2;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two .5s linear infinite;
  border-right: 3px solid $c1;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three .5s linear infinite;
  border-top: 3px solid $c2;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
/////////////////////////////////////////////////////////////
body{
  font-family: 'almonidlaaa';
  font-weight: 400;
  font-size: 16px;
  color: $c1;
  position: relative;
  text-align: right;
}

.x{
  transition: all 300ms linear;
  &-wrap{
    width: 1020px;
    margin: 0 auto;
  }

  &-btn{
    &-o{
      @extend .dibM;
      border: none;
      background: none;
    }
  }

  &-header{
    padding: 10px 0;
    &-nav{
      padding: 80px 0 0;
      font-size: 0;

      a{
        @extend .dibM;
        font-size: 24px;
        border-right: 1px solid #545454;
        color: #545454;
        padding: 0 14px;
        direction: rtl;
        &:hover, &.active{
          color: $c2;
        }

        &:first-child{
          border-right: 1px solid transparent;
          padding: 0;
        }
        &:last-child{
          border-right: 1px solid transparent;
        }
      }
    }
  }

  &-hr{
    border: none;
    width: 100%;
    height: 5px;
    background: #feca3d; /* Old browsers */
    background: -moz-linear-gradient(left,  #feca3d 1%, #faf1be 33%, #feca3d 68%, #faf1be 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #feca3d 1%,#faf1be 33%,#feca3d 68%,#faf1be 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #feca3d 1%,#faf1be 33%,#feca3d 68%,#faf1be 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feca3d', endColorstr='#faf1be',GradientType=1 ); /* IE6-9 */
  }

  &-modal{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: white;
    //&_dark{
    //  @extend .x-modal;
    //  background: rgba(0, 0, 0, 0.7);
    //}

    &-close{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

    &-box{
      position: relative;
      //position: absolute;
      //top: 50%;
      //left: 50%;
      //transform: translate(-50%, -50%);
    }

  }

  &-video{
    position: relative;
    &-play{
      z-index: 1;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: url(../i/play.png) 0 0 no-repeat;
      background-size: 100% auto;
      width: 135px;
      height: 135px;
    }
    iframe{
      width: 100%;
      height: 580px;
    }
  }

  &-tabs{
    box-shadow:inset 0 0 10px 0 #000000;
    &-btns{
      font-size: 0;
      text-align: center;
      button{
        width: 33.33%;
        padding: 15px 0;
        background: none;
        border: none;
        direction: rtl;
        font-size: 24px;
        font-family: 'almonidlaaa';

        img{
          height: 16px;
        }

        &:hover, &.active{
          background: #c39937; /* Old browsers */
          background: -moz-linear-gradient(left,  #c39937 0%, #ffffff 50%, #c39937 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left,  #c39937 0%,#ffffff 50%,#c39937 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right,  #c39937 0%,#ffffff 50%,#c39937 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c39937', endColorstr='#c39937',GradientType=1 ); /* IE6-9 */
        }
      }
    }

    &-content{
      border-top: 3px solid black;
      padding: 5px 25px 5px;
      table{
        width: 100%;
        tr{
          border-bottom: 1px solid #dddddd;
          transition: all 100ms linear;

          td{
            vertical-align: middle;
            padding: 7px 0;
            font-size: 24px;
            direction: rtl;
            &:last-child{
              font-weight: 700;
            }
          }

          &:last-child{
            border: none;
          }
        }
      }
    }
  }



  //--PAGE ANIMATION--///////////////////////////////////////////////////////////
  &.ng-leave-active {
    transform: translate3d(0, 40px, 0);
  }
  &.ng-enter {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translate3d(0, 0.5em, 0);
    transition: all 300ms linear 300ms;
  }
  &.ng-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  &.ng-leave {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    opacity: 1;
  }
  &.ng-leave-active {
    opacity: 0;
  }


  //--BUTTON ANIMATION--///////////////////////////////////////////////////////////
  &-float-shadow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    position: relative;
    transition-duration: 0.3s;
    transition-property: transform;
    &:before {
      pointer-events: none;
      position: absolute;
      z-index: -1;
      content: '';
      top: 100%;
      left: 5%;
      height: 10px;
      width: 90%;
      opacity: 0;
      background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      /* W3C */
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform, opacity;
      transition-property: transform, opacity;
    }

    &:hover, &:active {
      transform: translateY(-5px);
    }
    &:hover:before, &:active:before {
      opacity: 1;
      transform: translateY(5px);
    }
  }
}





////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.IE{
  .x-video video{
    width: 89.5%;
    margin: 0 auto;
    display: block;
  }
}











