<header class="x-header wp-btw x-wrap">
    <nav class="x-header-nav dibB">
        <a href="https://www.facebook.com/stellaartoisisrael/" target="_blank"><img src="i/fb.png" alt=""></a>
        <a ng-click="ga('desktop', 'online_purchase');" href="https://www.google.com" target="_blank" ng-class="curPage()">רכישה אונליין</a>
        <a ng-click="ga('desktop', 'where_to_get');" href="#/three" ng-class="{active: curPage('/three')}">איפה משיגים?</a>
        <a ng-click="ga('desktop', 'download_coupon');" href="http://www.slash.co.il/projects/coca_cola/stella_special_edition/coupon.html" target="_blank">להורדת קופון הנחה</a>
        <a ng-click="ga('desktop', 'main_page');" href="#/one" ng-class="{active: curPage('/one')}">המהדורה המיוחדת</a>
    </nav>

    <img src="i/logo.png" alt="" class="dibB">
</header>

<hr class="x-hr mar-b20">