<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="di3orlive">
    <title>STELLA ARTUOISE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- bower:css -->
    <link rel="stylesheet" href="bower/reset-css/reset.css" />
    <link rel="stylesheet" href="bower/slick-carousel/slick/slick.css" />
    <!-- endbower -->

    <link rel="stylesheet" href="css/main-min.css"/>

    <!--detect IE-->
    <script>
        (function detectIE() {
            var ua = window.navigator.userAgent;

            var msie = ua.indexOf('MSIE ');
            if (msie > 0) {
                // IE 10 or older => return version number
                var ieV = parseInt(ua.substring(msie + 5, ua.indexOf('.', msie)), 10);
                document.querySelector('html').className += ' IE';
            }

            var trident = ua.indexOf('Trident/');
            if (trident > 0) {
                // IE 11 => return version number
                var rv = ua.indexOf('rv:');
                var ieV = parseInt(ua.substring(rv + 3, ua.indexOf('.', rv)), 10);
                document.querySelector('html').className += ' IE';
            }

            var edge = ua.indexOf('Edge/');
            if (edge > 0) {
                // IE 12 (aka Edge) => return version number
                var ieV = parseInt(ua.substring(edge + 5, ua.indexOf('.', edge)), 10);
                document.querySelector('html').className += ' IE';
            }

            // other browser
            return false;
        })();
    </script>
</head>
<body ng-controller="mainCtrl" class="loading">

    <div ng-include="'views/particles/header.html'"></div>

    <main class="x" ng-view></main>

    <div class="x-modal" ng-show="openModalN == 1">
        <div class="x-wrap relative">
            <div class="x-modal-box tac pad-t50">
                <img class="mar-b100" src="i/logo.png" alt="">
                <br>
                <img class="mar-b30" src="i/modal/text1.png" alt="">
                <br>
                <button class="x-btn-o" ng-click="openModal('');ga('desktop', 'age_confirmed');"><img src="i/modal/btn1.png" alt=""></button>
            </div>
        </div>
    </div>

    <div class="loader-wrap" remove-on-load>
        <div class="loader">
            <div class="inner one"></div>
            <div class="inner two"></div>
            <div class="inner three"></div>
        </div>
    </div>


    <script src="https://www.youtube.com/iframe_api"></script>
    <!-- bower:js -->
    <script src="bower/jquery/dist/jquery.min.js"></script>
    <script src="bower/slick-carousel/slick/slick.min.js"></script>
    <script src="bower/angular/angular.min.js"></script>
    <script src="bower/angular-slick-carousel/dist/angular-slick.min.js"></script>
    <script src="bower/angular-route/angular-route.min.js"></script>
    <script src="bower/angular-animate/angular-animate.min.js"></script>
    <!-- endbower -->


    <!-- GOOGLE -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-81178789-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- end GOOGLE -->

    <script src="js/main-min.js"></script>
</body>
</html>