*{
  box-sizing: border-box;
  &:focus{
    outline: none;
  }
}
html, body {
  height: 100%;
}
a, button{
  &:hover{
    opacity: 0.8;
    transition: all 100ms ease;
  }
  &:active{
    opacity: 0.4;
  }
}
button{
  cursor: pointer;
}
b{
  font-weight: 700;
}
a{
  text-decoration: none;
}

.fsz0{font-size: 0;}
.w100p{width: 100%;}
.w50p{width: 50%;}
.tal{text-align: left;}
.tac{text-align: center;}
.tar{text-align: right;}
.db{display: block;}
.di{display: inline;}
.dib{display: inline-block;}
.dibT{display: inline-block;vertical-align: top;}
.dibM{display: inline-block;vertical-align: middle;}
.dibB{display: inline-block;vertical-align: bottom;}
.no-mar{margin: 0;}
.no-pad{padding: 0;}
.lowercase{text-transform: lowercase;}
.uppercase{text-transform: uppercase;}
.text{
  &-bold{font-weight: 700;}
  &-normal{font-weight: 400;}
  &-lite{font-weight: 300;}
}

.pa{
  &d5{padding: 5px;}
  &d10{padding: 10px;}
  &d15{padding: 15px;}
  &d20{padding: 20px;}
  &d25{padding: 25px;}
  &d30{padding: 30px;}
  &d35{padding: 35px;}
  &d40{padding: 40px;}
  &d45{padding: 45px;}
  &d50{padding: 50px;}
  &d55{padding: 55px;}
  &d60{padding: 60px;}
  &d65{padding: 65px;}
  &d70{padding: 70px;}
  &d75{padding: 75px;}
  &d80{padding: 80px;}
  &d85{padding: 85px;}
  &d90{padding: 90px;}
  &d95{padding: 95px;}
  &d100{padding: 100px;}

  &d-l5{padding-left: 5px;}
  &d-ll0{padding-left: 10px;}
  &d-l15{padding-left: 15px;}
  &d-l20{padding-left: 20px;}
  &d-l25{padding-left: 25px;}
  &d-l30{padding-left: 30px;}
  &d-l35{padding-left: 35px;}
  &d-l40{padding-left: 40px;}
  &d-l45{padding-left: 45px;}
  &d-l50{padding-left: 50px;}
  &d-l55{padding-left: 55px;}
  &d-l60{padding-left: 60px;}
  &d-l65{padding-left: 65px;}
  &d-l70{padding-left: 70px;}
  &d-l75{padding-left: 75px;}
  &d-l80{padding-left: 80px;}
  &d-l85{padding-left: 85px;}
  &d-l90{padding-left: 90px;}
  &d-l95{padding-left: 95px;}
  &d-l100{padding-left: 100px;}

  &d-r5{padding-right: 5px;}
  &d-rl0{padding-right: 10px;}
  &d-r15{padding-right: 15px;}
  &d-r20{padding-right: 20px;}
  &d-r25{padding-right: 25px;}
  &d-r30{padding-right: 30px;}
  &d-r35{padding-right: 35px;}
  &d-r40{padding-right: 40px;}
  &d-r45{padding-right: 45px;}
  &d-r50{padding-right: 50px;}
  &d-r55{padding-right: 55px;}
  &d-r60{padding-right: 60px;}
  &d-r65{padding-right: 65px;}
  &d-r70{padding-right: 70px;}
  &d-r75{padding-right: 75px;}
  &d-r80{padding-right: 80px;}
  &d-r85{padding-right: 85px;}
  &d-r90{padding-right: 90px;}
  &d-r95{padding-right: 95px;}
  &d-r100{padding-right: 100px;}

  &d-t5{padding-top: 5px;}
  &d-tl0{padding-top: 10px;}
  &d-t15{padding-top: 15px;}
  &d-t20{padding-top: 20px;}
  &d-t25{padding-top: 25px;}
  &d-t30{padding-top: 30px;}
  &d-t35{padding-top: 35px;}
  &d-t40{padding-top: 40px;}
  &d-t45{padding-top: 45px;}
  &d-t50{padding-top: 50px;}
  &d-t55{padding-top: 55px;}
  &d-t60{padding-top: 60px;}
  &d-t65{padding-top: 65px;}
  &d-t70{padding-top: 70px;}
  &d-t75{padding-top: 75px;}
  &d-t80{padding-top: 80px;}
  &d-t85{padding-top: 85px;}
  &d-t90{padding-top: 90px;}
  &d-t95{padding-top: 95px;}
  &d-t100{padding-top: 100px;}

  &d-b5{padding-bottom: 5px;}
  &d-bl0{padding-bottom: 10px;}
  &d-b15{padding-bottom: 15px;}
  &d-b20{padding-bottom: 20px;}
  &d-b25{padding-bottom: 25px;}
  &d-b30{padding-bottom: 30px;}
  &d-b35{padding-bottom: 35px;}
  &d-b40{padding-bottom: 40px;}
  &d-b45{padding-bottom: 45px;}
  &d-b50{padding-bottom: 50px;}
  &d-b55{padding-bottom: 55px;}
  &d-b60{padding-bottom: 60px;}
  &d-b65{padding-bottom: 65px;}
  &d-b70{padding-bottom: 70px;}
  &d-b75{padding-bottom: 75px;}
  &d-b80{padding-bottom: 80px;}
  &d-b85{padding-bottom: 85px;}
  &d-b90{padding-bottom: 90px;}
  &d-b95{padding-bottom: 95px;}
  &d-b100{padding-bottom: 100px;}

  &d-v5{padding: 5px 0;}
  &d-vl0{padding: 10px 0;}
  &d-v15{padding: 15px 0;}
  &d-v20{padding: 20px 0;}
  &d-v25{padding: 25px 0;}
  &d-v30{padding: 30px 0;}
  &d-v35{padding: 35px 0;}
  &d-v40{padding: 40px 0;}
  &d-v45{padding: 45px 0;}
  &d-v50{padding: 50px 0;}
  &d-v55{padding: 55px 0;}
  &d-v60{padding: 60px 0;}
  &d-v65{padding: 65px 0;}
  &d-v70{padding: 70px 0;}
  &d-v75{padding: 75px 0;}
  &d-v80{padding: 80px 0;}
  &d-v85{padding: 85px 0;}
  &d-v90{padding: 90px 0;}
  &d-v95{padding: 95px 0;}
  &d-v100{padding: 100px 0;}

  &d-h5{padding: 0 5px;}
  &d-hl0{padding: 0 10px;}
  &d-h15{padding: 0 15px;}
  &d-h20{padding: 0 20px;}
  &d-h25{padding: 0 25px;}
  &d-h30{padding: 0 30px;}
  &d-h35{padding: 0 35px;}
  &d-h40{padding: 0 40px;}
  &d-h45{padding: 0 45px;}
  &d-h50{padding: 0 50px;}
  &d-h55{padding: 0 55px;}
  &d-h60{padding: 0 60px;}
  &d-h65{padding: 0 65px;}
  &d-h70{padding: 0 70px;}
  &d-h75{padding: 0 75px;}
  &d-h80{padding: 0 80px;}
  &d-h85{padding: 0 85px;}
  &d-h90{padding: 0 90px;}
  &d-h95{padding: 0 95px;}
  &d-h100{padding: 0 100px;}
}

.ma{
  &r5{margin: 5px;}
  &r10{margin: 10px;}
  &r15{margin: 15px;}
  &r20{margin: 20px;}
  &r25{margin: 25px;}
  &r30{margin: 30px;}
  &r35{margin: 35px;}
  &r40{margin: 40px;}
  &r45{margin: 45px;}
  &r50{margin: 50px;}
  &r55{margin: 55px;}
  &r60{margin: 60px;}
  &r65{margin: 65px;}
  &r70{margin: 70px;}
  &r75{margin: 75px;}
  &r80{margin: 80px;}
  &r85{margin: 85px;}
  &r90{margin: 90px;}
  &r95{margin: 95px;}
  &r100{margin: 100px;}

  &r-l5{margin-left: 5px;}
  &r-ll0{margin-left: 10px;}
  &r-l15{margin-left: 15px;}
  &r-l20{margin-left: 20px;}
  &r-l25{margin-left: 25px;}
  &r-l30{margin-left: 30px;}
  &r-l35{margin-left: 35px;}
  &r-l40{margin-left: 40px;}
  &r-l45{margin-left: 45px;}
  &r-l50{margin-left: 50px;}
  &r-l55{margin-left: 55px;}
  &r-l60{margin-left: 60px;}
  &r-l65{margin-left: 65px;}
  &r-l70{margin-left: 70px;}
  &r-l75{margin-left: 75px;}
  &r-l80{margin-left: 80px;}
  &r-l85{margin-left: 85px;}
  &r-l90{margin-left: 90px;}
  &r-l95{margin-left: 95px;}
  &r-l100{margin-left: 100px;}

  &r-r5{margin-right: 5px;}
  &r-rl0{margin-right: 10px;}
  &r-r15{margin-right: 15px;}
  &r-r20{margin-right: 20px;}
  &r-r25{margin-right: 25px;}
  &r-r30{margin-right: 30px;}
  &r-r35{margin-right: 35px;}
  &r-r40{margin-right: 40px;}
  &r-r45{margin-right: 45px;}
  &r-r50{margin-right: 50px;}
  &r-r55{margin-right: 55px;}
  &r-r60{margin-right: 60px;}
  &r-r65{margin-right: 65px;}
  &r-r70{margin-right: 70px;}
  &r-r75{margin-right: 75px;}
  &r-r80{margin-right: 80px;}
  &r-r85{margin-right: 85px;}
  &r-r90{margin-right: 90px;}
  &r-r95{margin-right: 95px;}
  &r-r100{margin-right: 100px;}

  &r-t5{margin-top: 5px;}
  &r-tl0{margin-top: 10px;}
  &r-t15{margin-top: 15px;}
  &r-t20{margin-top: 20px;}
  &r-t25{margin-top: 25px;}
  &r-t30{margin-top: 30px;}
  &r-t35{margin-top: 35px;}
  &r-t40{margin-top: 40px;}
  &r-t45{margin-top: 45px;}
  &r-t50{margin-top: 50px;}
  &r-t55{margin-top: 55px;}
  &r-t60{margin-top: 60px;}
  &r-t65{margin-top: 65px;}
  &r-t70{margin-top: 70px;}
  &r-t75{margin-top: 75px;}
  &r-t80{margin-top: 80px;}
  &r-t85{margin-top: 85px;}
  &r-t90{margin-top: 90px;}
  &r-t95{margin-top: 95px;}
  &r-t100{margin-top: 100px;}

  &r-b5{margin-bottom: 5px;}
  &r-bl0{margin-bottom: 10px;}
  &r-b15{margin-bottom: 15px;}
  &r-b20{margin-bottom: 20px;}
  &r-b25{margin-bottom: 25px;}
  &r-b30{margin-bottom: 30px;}
  &r-b35{margin-bottom: 35px;}
  &r-b40{margin-bottom: 40px;}
  &r-b45{margin-bottom: 45px;}
  &r-b50{margin-bottom: 50px;}
  &r-b55{margin-bottom: 55px;}
  &r-b60{margin-bottom: 60px;}
  &r-b65{margin-bottom: 65px;}
  &r-b70{margin-bottom: 70px;}
  &r-b75{margin-bottom: 75px;}
  &r-b80{margin-bottom: 80px;}
  &r-b85{margin-bottom: 85px;}
  &r-b90{margin-bottom: 90px;}
  &r-b95{margin-bottom: 95px;}
  &r-b100{margin-bottom: 100px;}

  &r-v5{margin: 5px 0;}
  &r-vl0{margin: 10px 0;}
  &r-v15{margin: 15px 0;}
  &r-v20{margin: 20px 0;}
  &r-v25{margin: 25px 0;}
  &r-v30{margin: 30px 0;}
  &r-v35{margin: 35px 0;}
  &r-v40{margin: 40px 0;}
  &r-v45{margin: 45px 0;}
  &r-v50{margin: 50px 0;}
  &r-v55{margin: 55px 0;}
  &r-v60{margin: 60px 0;}
  &r-v65{margin: 65px 0;}
  &r-v70{margin: 70px 0;}
  &r-v75{margin: 75px 0;}
  &r-v80{margin: 80px 0;}
  &r-v85{margin: 85px 0;}
  &r-v90{margin: 90px 0;}
  &r-v95{margin: 95px 0;}
  &r-v100{margin: 100px 0;}

  &r-h5{margin: 0 5px;}
  &r-hl0{margin: 0 10px;}
  &r-h15{margin: 0 15px;}
  &r-h20{margin: 0 20px;}
  &r-h25{margin: 0 25px;}
  &r-h30{margin: 0 30px;}
  &r-h35{margin: 0 35px;}
  &r-h40{margin: 0 40px;}
  &r-h45{margin: 0 45px;}
  &r-h50{margin: 0 50px;}
  &r-h55{margin: 0 55px;}
  &r-h60{margin: 0 60px;}
  &r-h65{margin: 0 65px;}
  &r-h70{margin: 0 70px;}
  &r-h75{margin: 0 75px;}
  &r-h80{margin: 0 80px;}
  &r-h85{margin: 0 85px;}
  &r-h90{margin: 0 90px;}
  &r-h95{margin: 0 95px;}
  &r-h100{margin: 0 100px;}
}

.wp{
  &-btw {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    &-cen {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }

  &-arnd {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    &-cen {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
}

.fl-flex1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.fl-flex2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.fl-flex3 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.fl-flex4 {
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.fl-flex5 {
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5; }

.fl-flex6 {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6; }

.fl-flex7 {
  -webkit-flex: 7;
  -ms-flex: 7;
  flex: 7; }

.fl-flex8 {
  -webkit-flex: 8;
  -ms-flex: 8;
  flex: 8; }

.fl-flex9 {
  -webkit-flex: 9;
  -ms-flex: 9;
  flex: 9; }

.fl-flex10 {
  -webkit-flex: 10;
  -ms-flex: 10;
  flex: 10; }






