@font-face {
  font-family: 'almonidlaaa';
  src: url('../fonts/almonidlaaa/almonidlaaa300.eot');
  src: url('../fonts/almonidlaaa/almonidlaaa300.eot') format('embedded-opentype'),
  url('../fonts/almonidlaaa/almonidlaaa300.woff2') format('woff2'),
  url('../fonts/almonidlaaa/almonidlaaa300.woff') format('woff'),
  url('../fonts/almonidlaaa/almonidlaaa300.ttf') format('truetype'),
  url('../fonts/almonidlaaa/almonidlaaa300.svg#almonidlaaa300') format('svg');
  font-weight: 300;
}
@font-face {
  font-family: 'almonidlaaa';
  src: url('../fonts/almonidlaaa/almonidlaaa400.eot');
  src: url('../fonts/almonidlaaa/almonidlaaa400.eot') format('embedded-opentype'),
  url('../fonts/almonidlaaa/almonidlaaa400.woff2') format('woff2'),
  url('../fonts/almonidlaaa/almonidlaaa400.woff') format('woff'),
  url('../fonts/almonidlaaa/almonidlaaa400.ttf') format('truetype'),
  url('../fonts/almonidlaaa/almonidlaaa400.svg#almonidlaaa400') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: 'almonidlaaa';
  src: url('../fonts/almonidlaaa/almonidlaaa700.eot');
  src: url('../fonts/almonidlaaa/almonidlaaa700.eot') format('embedded-opentype'),
  url('../fonts/almonidlaaa/almonidlaaa700.woff2') format('woff2'),
  url('../fonts/almonidlaaa/almonidlaaa700.woff') format('woff'),
  url('../fonts/almonidlaaa/almonidlaaa700.ttf') format('truetype'),
  url('../fonts/almonidlaaa/almonidlaaa700.svg#almonidlaaa700') format('svg');
  font-weight: 700;
}